@font-face {
  font-family: "head-font";
  src: url(../../assets/Fonts/Meredia/Meredia.ttf) format("truetype");
}

@font-face {
  font-family: "hero-font";
  src: url(../../assets/Fonts/StretchPro/Stretch.otf) format("opentype");
}

@font-face {
  font-family: "about-head-font";
  src: url(../../assets/Fonts/Mexcellent/Mexcellent3D.otf) format("truetype");
}

@font-face {
  font-family: "reiswar-head-font";
  src: url(../../assets/Fonts/Reiswar/Reiswar.ttf) format("truetype");
}

@font-face {
  font-family: "kramer-head-font";
  src: url(../../assets/Fonts/KRAMER/kramer__.TTF) format("truetype");
}